/*LPP v 0.0.6*/

@shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
//nav
@nav-separator: #e6e6e6;
//categories
@cat0: #00a79d;
@cat1: #ef5a28;
@cat2: #6ebc44;
@cat3: #662c91;
@cat4: #d13346;
@cat5: #fcba2a;
@cat6: #6ebc44;
//colors
@body-background: #fafafa;
@marquee-background: #f8e81c;
//@body-background: salmon;
@link-text: #515151;
@nav-active: #00a79d;
@nav-text: #515151;
@nav-text-hover: #fff;
@banner: darkgray;
@main-article-color: #00a79d;
@excerpt-color: #515151;
@main-news-color: #FFF;
@alert-color: #f05a28;
@main-news-hightlight: #6fbd44;
@main-news-hightlight-mobile: #f05a28;
//Sidebar
@first-article-bgd: #FFF;
@first-article-tag-color: #e9431f;
//category colors
@catego-main-color: @cat5;
@category-card-img-border: @cat5;
@category-card-text: @cat5;
@catego-tag-bgd: white;
//category-viral
@viral-tag-color: @cat5;
//Slider
@video-text-highlights: #e91d00;
//Reciente
@reciente-featured-title: #662d91;
//Colaboradores
@colab-name: #515151;
@colab-border: #00a79d;
//Otros Sitios
@otros-bgd: #212325;
//SocialMedia
@social-title: black;
//Footer
@footer-nav-text: #b5b5b5;
// end of variables
.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

a {
	color: @link-text;
	&:hover {
		color: @link-text;
		text-decoration: none;
	}
	&:visited {
		color: @link-text;
		text-decoration: none;
	}
}

.h1 {
	font-family: 'Lato';
	font-size: 38px;
	font-weight: 900;
	letter-spacing: 0.5px; //	border-bottom: 1px solid black;
	padding-bottom: 20px;
}

.h2 {
	font-family: 'Lato';
	font-size: 36px;
	font-weight: 900;
	letter-spacing: 0.5px;
	margin-bottom: 60px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: @body-background;
}

marquee {
	background-color: @marquee-background;
	padding: 20px 18px; //	margin-bottom: 30px;
	position: relative;
	a {
		font-family: 'Lato', sans-serif;
		color: black;
	} //	&:before,
}

@marquee-live: #ef0000;
//.marquee-box,
.mtphr-dnt-143138 {
	.mtphr-dnt-wrapper {
		.mtphr-dnt-title {
			background-color: @marquee-background;
		}
		.mtphr-dnt-tick-container {
			//		outline: 1px solid purple;
			.mtphr-dnt-tick-contents {
				background-color: @marquee-background;
			}
		}
	}
}

.mtphr-dnt-143140 {
	.mtphr-dnt-wrapper {
		.mtphr-dnt-title {
			background-color: @marquee-live;
			color: white;
		}
		.mtphr-dnt-tick-container {
			//		outline: 1px solid purple;
			.mtphr-dnt-tick-contents {
				background-color: @marquee-live;
				color: white;
			}
		}
	}
}

.banner-skinned-1200 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	height: 250px;
	position: relative;
	.skinned {
		.left {
			position: absolute;
			top: 0;
			left: 0;
		}
		.right {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.mtphr-dnt-wrapper {
	position: relative;
	margin-bottom: 30px; //	.marquee-block,
	.mtphr-dnt-title {
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 16px;
		color: black;
		background-color: @marquee-background;
		z-index: 5;
		padding: 20px;
		margin: 0;
		height: 60px;
	}
	.mtphr-dnt-tick-container {
		//		outline: 1px solid purple;
		.mtphr-dnt-tick-contents {
			background-color: @marquee-background; //			outline: 1px solid red;
			padding-top: 20px;
			padding-bottom: 20px;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.2px;
			text-align: left;
			color: #515151;
			height: 60px !important;
		}
	}
}

#navBar,
#navBar1 {
	max-width: 1440px;
	min-height: 100px; //	margin-bottom: 25px;
	.navbar-default {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		padding: 0;
		z-index: 10;
		background-color: white;
		.navbar-brand {
			//			min-height: 100px;
			background-image: url('../assets/lpp-logo-one-line.svg');
			width: 335px;
			height: 45px;
			background-position: center;
			background-repeat: no-repeat;
			margin: 29px 48px 0;
			min-width: 230px;
			background-size: contain;
		}
		.navbar-nav {
			li {
				height: 100px;
				border-top-color: rgb(230, 230, 230);
				border-top-style: solid;
				border-top-width: 1px; //					border-right-color: rgb(230, 230, 230);
				//					border-right-style: solid;
				border-right-width: 0px; //				border-bottom-color: rgb(230, 230, 230);
				//				border-bottom-style: solid;
				border-bottom-width: 0px;
				border-left-color: rgb(230, 230, 230);
				border-left-style: solid;
				border-left-width: 1px;
				&:last-child {
					border-right-color: rgb(230, 230, 230);
					border-right-style: solid;
					border-right-width: 1px;
				}
				a {
					line-height: 4em;
					color: @nav-text;
					font-size: 16px;
					font-weight: bold;
					letter-spacing: 1px;
					text-transform: uppercase;
					transition: background-color .25s;
					height: 100px;
				}
				&.active,
				&:hover {
					a {
						color: @nav-text-hover; //						border-bottom: 25px solid white;
					}
					&:nth-child(0n + 1) {
						a {
							background-color: @cat0;
						}
					}
					&:nth-child(0n + 2) {
						a {
							background-color: @cat1;
						}
					}
					&:nth-child(0n + 3) {
						a {
							background-color: @cat2;
						}
					}
					&:nth-child(0n + 4) {
						a {
							background-color: @cat3;
						}
					}
					&:nth-child(0n + 5) {
						a {
							background-color: @cat4;
						}
					}
					&:nth-child(0n + 6) {
						a {
							background-color: @cat5;
						}
					}
					&:nth-child(0n + 7) {
						a {
							background-color: @cat0;
						}
					}
					&:nth-child(0n + 8) {
						a {
							background-color: @cat1;
						}
					}
					&:nth-child(0n + 9) {
						a {
							background-color: @cat2;
						}
					}
				}
			}
			ul.flexMenu-popup {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					//					height: 50px;
					align-content: stretch;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-direction: column;
					a {
						//						height: 50px;
						display: inline-block;
						padding: 15px;
					}
					&.active,
					&:hover {
						a {
							color: @nav-text-hover; //						border-bottom: 25px solid white;
						}
						&:nth-child(0n + 1) {
							a {
								background-color: @cat0;
							}
						}
						&:nth-child(0n + 2) {
							a {
								background-color: @cat1;
							}
						}
						&:nth-child(0n + 3) {
							a {
								background-color: @cat2;
							}
						}
						&:nth-child(0n + 4) {
							a {
								background-color: @cat3;
							}
						}
						&:nth-child(0n + 5) {
							a {
								background-color: @cat4;
							}
						}
						&:nth-child(0n + 6) {
							a {
								background-color: @cat5;
							}
						}
					}
				}
			}
		}
		.socialmedia-group {
			//			outline: 2px dotted yellowgreen;
			min-height: 100px;
			max-width: 175px;
			padding-left: 30px;
			float: left;
			.socialmedia-square {
				margin-right: 10px;
				opacity: 1px;
				transition-property: all;
				transition-duration: 0.25s;
				transition-timing-function: ease-in-out;
				transition-delay: 125ms;
				&:hover,
				&:active {
					opacity: 0.8;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			&.flex-container {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				&.flex-row {
					flex-direction: row; //				outline: 3px solid orange;
					align-items: center;
					justify-content: space-around;
				}
			}
		}
		&.small {
			background-color: dodgerblue;
			min-height: 70px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			align-items: center;
			.navbar-header {
				.navbar-brand {
					background-image: url(../assets/lpp-logo-square.png);
					background-position: center;
					background-repeat: no-repeat;
					padding: 20px 35px;
					outline: 1px solid darkred;
					height: 30px;
					width: 30px;
					img {}
				}
			}
			.menu-item-type-taxonomy {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				a {
					line-height: 2em;
					height: 70px;
				}
			}
			.socialmedia-group {
				outline: 2px solid white;
				min-height: 70px;
			}
		}
		.navbar-collapse {
			padding: 0;
		}
	}
}

.square-banner {
	//	outline: 2px solid darkred;
	&.mobile {
		width: 100%;
		min-height: 250px;
		text-align: center;
		display: inline-block;
	}
}

.banner-large {
	min-height: 90px;
	width: 728px; //	background-color: @banner;
	margin-top: 25px; //	margin-bottom: 25px;
	padding-right: 0;
	padding-left: 0;
	&.mobile {
		width: 100%;
		min-height: 50px;
		text-align: center;
		margin-bottom: 15px;
	}
}

#enVivo {
	.h3 {
		font-family: 'Lato', sans-serif;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 0.5px;
		color: #000000;
		margin-bottom: 40px;
	}
	.count-back {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.2px;
		text-align: left;
		color: #515151;
	}
}

.minuto-a-minuto-component {
	//	background-color: lightgoldenrodyellow;
	.ico {
		//		margin-left: 22px;
		//		margin-right: 22px;
		img {
			width: 30px;
			height: 30px; //			outline: 1px solid black;
			display: block;
		}
	}
	.h3 {
		margin: 0;
		font-family: 'Lato';
		font-size: 18px;
		font-weight: 900;
		letter-spacing: 0.9px;
		text-transform: uppercase; //				margin-left: 66px;
	}
	.timer {
		font-family: 'Open Sans';
		font-size: 10px;
		letter-spacing: 0.7px;
	}
	.h4 {
		font-family: 'Open Sans';
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.2px;
		word-wrap: break-word;
		margin: 0;
		padding: 20px 0;
		a {}
	}
	.minuto-a-minuto-title {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center; //		outline: 1px solid red;
	}
	.minuto-a-minuto-item {
		//		background-color: greenyellow;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
}

.cat-date {
	padding-bottom: 22px;
	font-size: 12px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 100;
}

#mainNews {
	position: relative; //	width: 100vw;
	//	height: 36vw;
	padding: 120px 15px;
	background-position: center;
	background-size: cover;
	margin-bottom: 50px;
	&:before {
		display: inline-block;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .75);
	}
	#texts {
		color: @main-news-color;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		flex-direction: column;
		justify-content: flex-start;
		min-height: 20vw;
		.headline {
			padding-bottom: 30px;
			font-weight: 600;
			margin: 0;
		}
		.extract {
			font-size: 22px;
			line-height: 1.45;
			line-height: 1.45;
			font-weight: 100;
		}
		> .inner {
			//			outline: 1px solid red;
		}
	}
	#featuredImg {
		height: 20vw;
		.img {
			position: relative;
			border: 6px solid white;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
			background-size: cover;
			height: inherit;
			.tag-id {
				background-color: white;
				padding: 12px 18px;
				position: absolute;
				bottom: 0;
				left: 0;
				span {
					font-weight: 100;
					font-size: 12px;
					letter-spacing: 1.5px;
					text-transform: uppercase;
				}
			}
		}
		#singleFeaturedImg {
			background-position: center;
			background-size: cover;
		}
	}
	&.elecciones {
		.tag-id {
			span {
				color: #f05a28;
			}
		}
		&::before {
			background: rgba(240, 90, 40, 0.8);
		}
	}
}

.category-elecciones-2018 {
	#mainContent {
		.catego-main-name {
			color: black;
			border-bottom-color: #6fbd44;
		}
		#leftContent {
			#mainArticleBox {
				.h1 {
					a {
						color: #662d91;
					}
				}
				.hero-img {
					border-color: white;
					.tag-id {
						background-color: white;
						a {
							color: #f05a28;
						}
					}
				}
			}
		}
	}
}


#mainNewsContent {
	font-size: 18px; //	font-weight: 100;
	line-height: 1.78;
	.highlightText {
		color: @main-news-hightlight;
		font-size: 28px;
		font-weight: 300;
		font-style: italic;
		line-height: 1.36;
		margin-left: 95px;
		padding: 40px 0;
	}
}

#mainContent {
	margin-bottom: 60px;
	.catego-main-name {
		border-bottom: 1px solid @catego-main-color;
		color: @catego-main-color;
		padding: 25px 0 20px;
		font-family: 'Lato';
		font-size: 38px;
		font-weight: 700;
		letter-spacing: 0.5px;
		margin-bottom: 25px;
	}
	#leftContent {
		//		outline: 1px solid darkorange;
		#mainArticleBox {
			border-radius: 3px;
			background-color: #ffffff;
			border: solid 1px #ededed;
			padding: 15px;
			&:hover {
				box-shadow: @shadow;
			}
			.hero-img {
				//					background-image: url(http://lorempixel.com/750/370/);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				width: 100%;
				position: relative; //width: 749px;
				min-height: 370px;
				border: solid 6px @main-article-color;
				img {}
				.tag-id {
					a {
						text-transform: uppercase;
						font-family: 'Lato';
						font-size: 12px;
						letter-spacing: 1.5px;
						text-align: center;
						color: #ffffff;
					}
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 12px 18px;
					width: auto;
					min-height: 39px;
					background-color: @main-article-color;
				}
			}
			.h1 {
				a {
					font-family: 'Lato';
					font-size: 38px;
					font-weight: 700;
					letter-spacing: 0.2px;
					color: @main-article-color;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.excerpt {
				font-family: 'Open Sans';
				font-size: 18px;
				letter-spacing: 0.2px;
				color: @excerpt-color;
				margin-top: 20px;
				background-color: #fff;
			}
		}
	}
	#sideBarRight {
		//		outline: 1px solid yellowgreen;
		#firstArticle {
			margin-bottom: 45px;
			&:hover {
				box-shadow: @shadow;
			}
			.hero-img {
				position: relative; //width: 749px;
				min-height: 160px; //				border: solid 6px @main-article-color;
				img {}
				.tag-id {
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 10px 18px;
					width: auto;
					min-height: 37px;
					background-color: @first-article-bgd;
					border-bottom: 2px solid @first-article-tag-color;
					a {
						text-transform: uppercase;
						font-family: 'Lato';
						font-size: 12px;
						letter-spacing: 1.5px;
						text-align: center;
						color: @first-article-tag-color;
					}
				}
			}
			.excerpt {
				//				border-radius: 3px;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
				border-top-color: rgb(235, 235, 235);
				border-top-style: solid;
				border-top-width: 0px;
				border-right-color: rgb(235, 235, 235);
				border-right-style: solid;
				border-right-width: 1px;
				border-bottom-color: rgb(235, 235, 235);
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-left-color: rgb(235, 235, 235);
				border-left-style: solid;
				border-left-width: 1px; //				border: solid 1px #ebebeb;
				background-color: #ffffff;
				font-family: 'Open Sans';
				font-size: 18px;
				letter-spacing: 0.2px;
				color: @excerpt-color; //				margin-top: 20px;
				padding: 20px 15px 15px;
			}
		}
	}
}

._2tga._49ve {
	height: 30px !important;
}

.btn-o {
	.btn {
		height: 30px !important;
	}
}

@firstEnVivo: #ef0000;
#enVivo {
	.minuto-a-minuto-item {
		&:first-child {
			outline: 1px solid @firstEnVivo;
		}
		.h4 {
			padding-left: 30px;
			border-left: 1px solid #dfdfdf;
		}
		padding-top: 30px;
		padding-bottom: 30px;
		.timer {
			color: #d13346;
			font-family: 'Open Sans', sans-serif;
			font-size: 10px;
			letter-spacing: 0.7px;
		}
		.social-micro {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			.social-micro-box {
				width: 30px;
				height: 30px;
				overflow: hidden;
				position: relative;
				border-radius: 3px;
				&:first-child {
					margin-right: 10px;
				}
				&:before {
					content: "";
					position: absolute;
					width: 30px;
					height: 30px;
					top: 0;
					left: 0; //					background-color: red;
				}
				.fb-share-button {
					span {
						vertical-align: top !important;
						overflow-x: hidden;
					}
				}
				> * {
					opacity: 0;
				}
				&.fb {
					background-color: #3a5695
				}
				&.tw {
					background-color: #55acee
				}
				a {
					outline: 1px solid red;
				}
			}
		}
		.h4 {
			.titleText {
				font-family: 'Open Sans', sans-serif;
				font-size: 15px;
				line-height: 2;
				text-align: left;
				color: #000000;
			}
		}
		.img {
			//		outline: 1px solid black;
			min-height: 310px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			margin-left: 30px;
		} //		outline: 2px dotted darkred;
	}
}

#categoryBoxes {
	.row {
		.row {
			margin-bottom: 30px;
		}
	}
	#categoAlert {
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 0.5px;
		padding-bottom: 70px;
		margin-top: 40px;
		.alert-color {
			color: @alert-color;
		}
	}
	.categoryCard {
		margin-bottom: 30px;
		&:hover {
			box-shadow: @shadow;
		}
		.img {
			//			outline: 4px solid black;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			min-height: 120px;
			overflow-y: hidden;
			img {}
		}
		.texts {
			background-color: white;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			border-top-color: rgb(235, 235, 235);
			border-top-style: solid;
			border-top-width: 0px;
			border-right-color: rgb(235, 235, 235);
			border-right-style: solid;
			border-right-width: 1px;
			border-bottom-color: rgb(235, 235, 235);
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-left-color: rgb(235, 235, 235);
			border-left-style: solid;
			border-left-width: 1px;
			.tag-id {
				//        background-color: white;
				border-top: 2px solid @category-card-img-border;
				.catego-tag {
					a {
						text-transform: uppercase;
						color: @category-card-text;
						font-family: 'Open Sans';
						font-size: 10px;
						letter-spacing: 1px;
						padding: 15px 0 8px 10px;
					}
				}
			}
			.excerpt {
				//        background-color: white;
				p {
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0.2px;
					color: @excerpt-color;
					padding: 0 20px 15px 10px;
					background-color: white;
				}
			}
		}
		&.flexBox {
			//			outline: 2px dotted red;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			.img {
				min-height: 120px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				img {}
			}
		}
	}
}

.section {
	margin-bottom: 60px;
}

#facebookBanner {
	min-height: 290px;
	background-color: lightskyblue;
}

#instaBlock {
	background-color: #ffffff;
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.06);
	border: solid 1px #f0f0f0;
	margin-bottom: 50px;
}

#videoCaroussel {
	min-height: 640px;
	background-color: #232323; //	padding-bottom: 50px;
	#videoTitle {
		padding: 43px 0;
		font-family: 'Lato';
		font-size: 24px;
		font-weight: 300;
		letter-spacing: 0.3px;
		color: white;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		.title {
			margin-right: 40px;
		}
		.txt-highlight {
			color: @video-text-highlights;
			font-weight: 400;
		}
	}
	/* the slides */
	.slick-slide {
		margin: 0 15px;
	}
	/* the parent */
	.slick-list {
		margin: 0 -15px;
	}
	.videoCard {
		display: flex;
		flex-direction: column;
		align-items: center;
		.heroThumb {
			width: 585px;
			aquamarine;
		}
		.title {
			color: @video-text-highlights;
			font-family: 'Lato';
			font-size: 24px;
			font-weight: 400;
			letter-spacing: 0.4px;
			padding-top: 30px;
		}
		.descript {
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 14px;
			letter-spacing: 0.3px;
			color: #ffffff;
		}
	}
}

#masReciente,
#contributorsBox {
	#recienteFeatured,
	> .contributor {
		padding: 10px;
		margin-bottom: 40px;
		background-color: #ffffff;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
		border: solid 1px #ededed;
		.title {
			a {
				font-family: 'Open Sans';
				font-size: 28px;
				font-weight: 600;
				letter-spacing: 0.2px;
				text-align: right;
				color: @reciente-featured-title;
			}
		}
		.img {
			&.main {
				//				outline: 2px solid purple;
				min-height: 250px;
			}
		}
		.tag-id {
			position: absolute;
			left: 15px;
			bottom: 0;
			padding: 10px 18px;
			width: auto;
			min-height: 37px;
			background-color: @first-article-bgd;
			a {
				text-transform: uppercase;
				font-family: 'Lato';
				font-size: 12px;
				letter-spacing: 1.5px;
				text-align: center;
				color: @reciente-featured-title;
				margin-bottom: 0;
			}
		}
	}
	#masRecienteList {
		//		outline: 2px dotted purple;
		.recienteCard {
			margin-bottom: 30px;
			&:hover {
				box-shadow: @shadow;
			}
			.img {
				height: 160px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				position: relative; //				img {}
				.tag-id {
					position: absolute;
					bottom: 0;
					left: 0;
					background-color: @catego-tag-bgd;
					border-top: 2px solid @category-card-img-border;
					a {
						text-transform: uppercase;
						color: @category-card-text;
						font-family: 'Open Sans';
						font-size: 12px;
						letter-spacing: 1.5px;
						padding: 18px 12px;
						margin-bottom: 0;
					}
				}
			}
			.excerpt {
				background-color: white;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
				border-top-color: rgb(235, 235, 235);
				border-top-style: solid;
				border-top-width: 0px;
				border-right-color: rgb(235, 235, 235);
				border-right-style: solid;
				border-right-width: 1px;
				border-bottom-color: rgb(235, 235, 235);
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-left-color: rgb(235, 235, 235);
				border-left-style: solid;
				border-left-width: 1px;
				p {
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0.2px;
					color: @excerpt-color;
					padding: 20px 15px;
				}
			}
		}
	}
}

#contribPostList {
	//	outline: 3px dotted orangered;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		.viral-note:not(.contributor) {
			//			outline: 2px dotted green;
			border-radius: 3px;
			background-color: #ffffff;
			border: solid 1px #ebebeb;
			padding-bottom: 15px;
		}
		.square-mini {
			width: 80px;
			height: 80px;
			background-position: center;
			background-size: cover;
		}
		span {
			//			margin-left: 80px;
			//			display: inline-block:
			&.catego-tag {
				a {
					font-family: 'Open Sans';
					font-size: 10px;
					letter-spacing: 1px;
					color: @viral-tag-color;
					text-transform: uppercase;
				}
			}
			&.excerpt {
				font-family: 'Open Sans';
				letter-spacing: 0.1px;
				font-size: 12px;
				font-weight: 600;
				line-height: 1em;
			}
		}
	}
}

#masViral {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		.viral-note {
			//			outline: 2px dotted green;
			margin-bottom: 15px; //			border: 1px solid #EBEBEB;
			//			border-radius: 3px;
			//			background-color: white;
			margin-bottom: 15px;
			&:hover {
				box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
			}
			.row {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				.viralThumb {
					//					outline: 1px dotted red;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					border-top-left-radius: 3px;
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
					border-bottom-left-radius: 3px;
				}
				.viralExcerpt {
					//					outline: 2px dotted darkorange;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-direction: column;
					border-top-color: rgb(235, 235, 235);
					border-top-style: solid;
					border-top-width: 1px;
					border-right-color: rgb(235, 235, 235);
					border-right-style: solid;
					border-right-width: 1px;
					border-bottom-color: rgb(235, 235, 235);
					border-bottom-style: solid;
					border-bottom-width: 1px; //					border-left-color: rgb(235, 235, 235);
					//					border-left-style: solid;
					border-left-width: 0;
					border-top-left-radius: 0px;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 0px;
					padding-bottom: 15px;
					background-color: white;
					padding-top: 10px;
				}
			}
		}
		.square-mini {}
		span {
			//			margin-left: 80px;
			//			display: inline-block:
			&.catego-tag {
				font-family: 'Open Sans';
				font-size: 10px;
				letter-spacing: 1px;
				color: @viral-tag-color;
				text-transform: uppercase;
				padding-bottom: 6px;
			}
			&.excerpt {
				font-family: 'Open Sans';
				letter-spacing: 0.1px;
				font-size: 12px;
				font-weight: 600;
				line-height: 1.4em;
			}
		}
	}
	.fbPageBLock {
		margin-top: 40px;
		margin-left: -15px;
	}
}

#colaboradores {
	padding-bottom: 70px;
	.avatarImg {
		width: 100px;
		height: 100px;
		background-size: cover;
		background-position: center;
	}
	.colabTab {
		margin-top: 20px;
		padding: 15px;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px #ebebeb;
		.colabName {
			font-family: 'Open Sans';
			font-size: 10px;
			letter-spacing: 1px;
			color: @colab-name;
			width: 100%;
			text-transform: uppercase;
			padding-top: 3px;
			padding-bottom: 15px; //		display: inline-block;
		}
		.colabSubtitle {
			font-family: 'Open Sans';
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.2px;
			color: @colab-name;
		}
	}
	#colabButtonBox {
		padding: 60px 0;
		#colabButton {
			width: 100%;
			border: 1px solid @colab-border;
			color: white;
			font-family: Lato;
			font-size: 14px;
			font-weight: 700;
			line-height: 1.36;
			letter-spacing: 2.4px;
			padding: 15px 20px;
			text-transform: uppercase;
			background-color: @colab-border;
			background-image: url();
			white-space: normal;
			transition-property: all;
			transition-duration: 0.25s;
			transition-timing-function: ease-in-out;
			transition-delay: 125ms;
			&:hover,
			&:active {
				background-color: white;
				border: 1px solid @colab-border;
				color: @colab-border;
			}
		}
	}
}

.fb-like.fb_iframe_widget span {
	text-align: center;
}

#fbLike {
	min-height: 290px;
	background-color: #ffffff;
	border: solid 1px #ebebeb;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 50px; //	outline: 1px solid chocolate;
	.flexBox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row; //		outline: 1px dotted darkred;
		height: 290px;
		.flexBox-item {
			//			outline: 2px solid greenyellow;
			align-self: center;
		}
		#fbTitle {
			letter-spacing: 0.5px;
			font-size: 36px;
			font-weight: 300;
			color: #4065b4;
			.fbBold {
				color: #4065b4;
				font-weight: 600;
			}
		}
		#fbLikeBtn {
			margin-top: 25px;
			.blueBtn {
				width: 72px;
				height: 16px;
			}
		}
	}
}

.container-fluid {
	&.insta {
		background-color: transparent;
	}
}

#instagram {
	//	min-height: 450px;
	//	background-color: azure;
	padding-top: 45px;
	padding-bottom: 50px;
	#instaLogo {
		//		outline: 2px dotted white;
	}
	.instaTitle {
		font-family: 'Lato';
		font-size: 36px;
		font-weight: 300;
		letter-spacing: 0.5px;
	}
}

#instaCaroussel {
	//	outline: 1px solid navy;
	min-height: 150px;
	margin-bottom: 120px; //	background-color: rgba(0, 0, 0, .5);
}

.boldTxt {
	font-weight: 400;
}

#otrosSitios {
	background-color: @otros-bgd;
	min-height: 520px;
	padding: 50px 0 35px;
	.title {
		font-family: 'Lato';
		font-size: 36px;
		font-weight: 300;
		letter-spacing: 0.5px;
		color: white;
		padding-bottom: 50px;
	}
	.texts {
		.tag-id {
			a {
				font-family: 'Open Sans';
				font-size: 10px;
				letter-spacing: 1px;
				padding: 15px 0 0 10px;
				text-transform: uppercase;
				color: @viral-tag-color;
			}
		}
		.excerpt {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.2px;
		}
	}
}

#contributorsBox {
	padding-top: 60px;
	.contributor {
		.imgBox {
			padding-bottom: 20px;
			width: 100px;
			height: 100px;
			background-size: cover;
			background-position: center;
		}
		.name {
			font-family: Lato;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 0.9px;
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 20px;
		}
		.social-icons {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			a {
				width: 25px;
				height: 25px; //				outline: 1px solid orange;
				margin-right: 25px;
				&:last-child {
					margin-right: 0;
				}
				&.btn {
					padding: 0;
					border-width: 0;
					&:hover {
						background-color: none;
						border-width: 0;
					}
				}
				&.fb {
					//					background-color: darkblue;
				}
				&.tw {
					//					background-color: skyblue;
				}
				&.ig {
					//					background-color: deeppink;
				}
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}

#socialMedia {
	padding-top: 60px;
	.h2 {
		color: @social-title;
	}
	.title {
		font-family: 'Lato';
		font-size: 24px;
		font-weight: 300;
		line-height: 1.46;
		letter-spacing: 0.3px;
	}
	#socialBtnBox {
		padding-top: 60px;
		.social-media-button {
			width: 300px;
			max-height: 50px;
			font-family: 'Lato';
			font-size: 14px;
			font-weight: 900;
			line-height: 1.36;
			letter-spacing: 2.4px;
			background-image: url();
			text-shadow: none;
			border-width: 0px;
			color: white;
			text-transform: uppercase;
			padding: 16px 0 15px 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			align-content: center;
			transition-property: all;
			transition-duration: 0.25s;
			transition-timing-function: ease-in-out;
			transition-delay: 125ms;
			opacity: 1;
			&:hover,
			&:active {
				opacity: .8;
			}
			&.inverse {
				color: black;
			}
			img {
				margin-right: 15px;
				width: 15px;
				height: 15px;
			}
			&#facebook {
				background-color: #3a5695;
			}
			&#instagram {
				background-color: white;
				border: 1px solid #ff0054;
			}
			&#twitter {
				background-color: #55acee;
			}
		}
	}
}

.flex-parent {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&.flex-row {
		flex-direction: row;
	}
	&.flex-between {
		justify-content: space-between;
	}
	&.flex-around {
		justify-content: space-around;
	}
}

footer {
	background-color: white;
	.footer {
		padding-top: 45px;
		#footerLogo {
			img {
				padding-left: 15px;
			}
		}
		#footerNav {
			//		outline: 2px solid red;
			//		max-height: 200px;
			display: inline-block;
			.footer-nav {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					color: @footer-nav-text;
					font-family: 'Open Sans';
					font-size: 13px;
					font-weight: 600;
					line-height: 2.31;
					letter-spacing: 0.2px;
					text-transform: uppercase;
				}
			}
		}
		#footerSocial {
			.social-square {
				//background-color: crimson;
				width: 50px;
				height: 50px;
				opacity: 1;
				transition-property: all;
				transition-duration: 0.25s;
				transition-timing-function: ease-in-out;
				transition-delay: 125ms;
				&:hover,
				&:active {
					opacity: .8;
				}
			}
		}
		#footerInfo {
			font-family: 'Open Sans';
			font-size: 12px;
			letter-spacing: 0.2px;
			padding-top: 65px;
			padding-bottom: 30px;
			p {
				a {
					color: @link-text;
				}
			}
		}
	}
}

#searchToggle {
	transition: opacity 125ms ease-in-out 0.5s;
	&.light {
		opacity: .5;
	}
}

#searchBox {
	transition: 125ms height 0.5s; //	outline: 1px solid darkorange;
	//	width: 100%;
	//	transform: translateY(-60px);
	height: 0;
	overflow: hidden;
	&.open {
		//		outline: 1px solid blue;
		//		position: absolute;
		//		transform: translateY(0);
		height: 30px;
	}
	&.closed {}
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
	body {
		//		background-color: black;
	}
}

@media only screen and (max-width: 1200px) {
	body {
		//		background-color: purple;
	}
	#navBar,
	#navBar1 {
		.navbar-default {
			.navbar-brand {
				//			min-height: 100px;
				background-image: url('../assets/lpp-logo-square.png');
				min-width: 26px;
				max-width: 26px; //				height: 30px;
				margin: 29px 30px 0;
			}
		}
	}
	.footer {
		#footerLogo {
			img {
				padding-left: 0;
				padding-bottom: 40px;
			}
			#footerNav {
				.footer-nav {
					margin-left: 15px;
				}
			}
		}
		#footerInfo {
			padding-top: 0;
			a {
				margin: 40px 0;
				display: block;
			}
		}
	}
}


/* Medium Devices, Desktops */

//@media only screen and (max-width: 992px) {
//	body {
//				background-color: lightcoral;
//	}
//}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	body {
		//		background-color: lightblue;
		.navbar-default .navbar-toggle {
			border-width: 0;
			&:hover {
				background-color: #fff;
			}
		}
		nav {
			#footerSocial {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
		.navbar-fixed-top {
			.navbar-collapse {
				max-height: 100%;
				&.in {
					overflow-y: visible;
					box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2);
				}
			}
		}
		#navBar,
		#navBar1 {
			max-width: 1440px;
			min-height: 60px;
			.navbar-default {
				justify-content: space-between;
				flex-direction: column;
				min-height: 60px;
				.navbar-nav {
					margin: 0;
					li {
						height: 75px;
						a {
							height: 75px;
							line-height: inherit;
						}
					}
				}
				.navbar-brand {
					//					min-height: 100px;
					background-image: url('../assets/lpp-logo-one-line.svg');
					max-width: 335px;
					height: 30px;
					background-position: center;
					background-repeat: no-repeat;
					margin: 15px 20px;
					min-width: 230px;
					background-size: contain;
				}
				.socialmedia-group {
					min-height: 60px;
				}
			}
		}
		.banner-large {
			margin-top: 15px;
		}
		#mainContent {
			//margin-bottom: 60px;
			#leftContent {
				//outline: 1px solid darkorange;
				#mainArticleBox {
					.hero-img {
						//position: relative;
						width: 100%;
						min-height: 188px;
						border-width: 0;
						img {}
						.tag-id {
							span {
								text-transform: uppercase;
								font-family: 'Lato';
								font-size: 12px;
								letter-spacing: 1.5px;
								text-align: center;
								color: #ffffff;
							}
							position: absolute;
							left: 0;
							bottom: 0;
							padding: 12px 18px;
							width: auto;
							min-height: 39px;
							background-color: @main-article-color;
						}
					}
					.mainArticle-texts {
						background-color: @main-article-color;
						.h1 {
							font-family: 'Lato';
							font-size: 24px;
							font-weight: bold;
							letter-spacing: 0.2px;
							color: white;
							background-color: transparent;
							margin: 0;
							padding: 18px 20px 12px;
							a {
								color: white;
								&:visited,
								&:hover {
									color: white;
								}
							}
						}
						.excerpt {
							font-weight: 100;
							font-size: 14px;
							background-color: transparent;
							color: white;
							margin-top: 0px;
							padding: 0 15px 20px;
							a {
								color: white;
								&:hover,
								&:visited {
									color: white;
								}
							}
						}
					}
					margin-bottom: 20px;
				}
			}
			#sideBarRight {
				//		outline: 1px solid yellowgreen;
				#firstArticle {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-direction: column;
					.hero-img {
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						flex-direction: column;
						order: 1; //          position: relative;
						//width: 749px;
						min-height: auto; //border: solid 6px @main-article-color;
						img {
							//            outline: 2px solid orange;
						}
						.tag-id {
							order: 2;
							position: relative;
							padding: 10px 12px;
							width: 100%;
							min-height: 37px;
							background-color: @first-article-bgd;
							border-top: 2px solid @first-article-tag-color;
							border-bottom-width: 0;
							span {
								text-transform: uppercase;
								font-family: 'Lato';
								font-size: 13px;
								letter-spacing: 1.5px;
								text-align: center;
								color: @first-article-tag-color;
							}
						}
					}
					.excerpt {
						order: 3;
						font-family: 'Open Sans';
						font-size: 18px;
						letter-spacing: 0.2px;
						color: @excerpt-color;
						margin-top: 0;
						padding-left: 12px;
					}
				}
			}
		}
		#categoryBoxes {
			.categoryCard {
				//      outline: 2px solid purple;
				margin-bottom: 30px;
				.img {
					width: 100%;
					min-height: 156px; //					outline: 4px solid yellowgreen;
					img {}
				}
			}
		}
	}
	#colaboradores {
		.colabTab {
			margin-bottom: 30px;
			padding-top: 0;
			.colabName {
				padding-top: 15px;
			}
		}
	}
	.navbar-header {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		background-color: white;
		.navbar-toggle {
			float: left;
		}
		#searchIcon {
			//			outline: 2px solid darkorange;
			padding-right: 15px;
			align-self: center;
			transition: opacity 125ms ease-in-out 0.5s;
			&.light {
				opacity: .5;
			}
		}
	}
	#mySearchBox {
		width: 100%;
		transition: height 125ms ease 0.5s; //	outline: 1px solid darkorange;
		//	width: 100%;
		z-index: -1;
		height: 0;
		overflow: hidden;
		&.open {
			//		outline: 1px solid blue;
			//		position: absolute;
			height: 30px;
		}
	}
	#footerInfo {
		a {
			margin: 40px 0; //				display: block;
		}
	}
	#instagram {
		.instaTitle {}
		#instaLogoMobile {
			//			outline: 2px dotted chocolate;
			padding: 40px 0;
		}
		.boldTxt {
			a {
				font-weight: bold;
				font-size: 24px;
			}
		}
	}
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	body {
		//		background-color: #fafafa;
		//    background-color: pink;
	}
	#navBar,
	#navBar1 {
		.navbar-default {
			.navbar-brand {
				background-image: url(../assets/lpp-logo-one-line.svg);
				max-width: 335px;
				height: 45px;
				background-position: center;
				background-repeat: no-repeat;
				margin: 29px 48px 0;
				min-width: 230px;
				background-size: contain;
			}
		}
	}
	.section {
		margin-bottom: 25px;
	}
	.h2 {
		font-size: 28px;
		text-align: center;
	}
	.flexBox {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		.flex-col {
			flex-direction: column;
			justify-content: center;
		}
	}
	.banner-large {
		width: 320px;
		min-height: 50px;
		background-color: @banner;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.square-banner {
		margin: 40px 0;
	}
	#navBar {
		.navbar-default {
			.navbar-header {
				.navbar-brand {
					//          outline: 1px solid red;
					max-width: 355px;
					padding: 0;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					img {
						align-self: center;
					}
				}
			}
			.navbar-nav {
				li {
					border-bottom: 1px solid @nav-separator;
					a {
						padding: 25px 0 25px 30px;
						font-size: 18px;
						font-weight: 300;
						letter-spacing: 0.2px;
					}
					&:first-child {
						border-top: 1px solid @nav-separator;
					}
				}
			}
		}
	}
	#mainNewsContent {
		.highlightText {
			color: @main-news-hightlight-mobile;
		}
	}
	#mainContent {
		//margin-bottom: 60px;
		#leftContent {
			//outline: 1px solid darkorange;
			#mainArticleBox {
				.hero-img {
					//position: relative;
					width: 100%;
					min-height: 188px;
					border-width: 0;
					img {}
					.tag-id {
						span {
							text-transform: uppercase;
							font-family: 'Lato';
							font-size: 12px;
							letter-spacing: 1.5px;
							text-align: center;
							color: #ffffff;
						}
						position: absolute;
						left: 0;
						bottom: 0;
						padding: 12px 18px;
						width: auto;
						min-height: 39px;
						background-color: @main-article-color;
					}
				}
				.mainArticle-texts {
					background-color: @main-article-color;
					.h1 {
						font-family: 'Lato';
						font-size: 24px;
						font-weight: bold;
						letter-spacing: 0.2px;
						color: white;
						background-color: transparent;
						margin: 0;
						padding: 18px 20px 12px;
					}
					.excerpt {
						font-weight: 100;
						font-size: 14px;
						background-color: transparent;
						color: white;
						margin-top: 0px;
						padding: 0 15px 20px;
					}
				}
				margin-bottom: 20px;
			}
		}
		#sideBarRight {
			//		outline: 1px solid yellowgreen;
			#firstArticle {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
				.hero-img {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-direction: column;
					order: 1; //          position: relative;
					//width: 749px;
					min-height: auto; //border: solid 6px @main-article-color;
					img {
						//            outline: 2px solid orange;
					}
				}
				.tag-id {
					order: 2;
					position: relative;
					padding: 10px 12px;
					width: 100%;
					min-height: 37px;
					background-color: @first-article-bgd;
					border-top: 2px solid @first-article-tag-color;
					border-bottom-width: 0;
					span {
						text-transform: uppercase;
						font-family: 'Lato';
						font-size: 13px;
						letter-spacing: 1.5px;
						text-align: center;
						color: @first-article-tag-color;
					}
				}
				.excerpt {
					order: 3;
					font-family: 'Open Sans';
					font-size: 18px;
					letter-spacing: 0.2px;
					color: @excerpt-color;
					margin-top: 0;
					padding-left: 12px;
				}
			}
		}
	}
	#categoryBoxes {
		.categoryCard {
			//      outline: 2px solid purple;
			margin-bottom: 30px;
			.img {
				width: 80px;
				min-height: 156px; //				outline: 4px solid purple;
				img {}
			}
			.texts {
				background-color: white;
				min-height: 120px;
				.tag-id {
					//          background-color: white;
					border-top: 2px solid @category-card-img-border;
					div {
						text-transform: uppercase;
						color: @category-card-text;
						font-family: 'Open Sans';
						font-size: 10px;
						letter-spacing: 1px;
						padding: 20px 0 10px 15px;
					}
				}
				.excerpt {
					//          background-color: white;
					p {
						font-size: 14px;
						font-weight: 600;
						letter-spacing: 0.2px;
						color: @excerpt-color;
						padding: 0 20px 15px 15px;
						margin-bottom: 0;
					}
				}
			}
			&:nth-child(n + 5) {
				//        background-color: burlywood;
				.img {
					//					outline: 2px dotted black;
					//					min-height: 80px;
					//					width: 80px;
					img {
						height: 80px;
						width: 80px; //outline: 5px dotted red;
					}
				}
				.texts {
					background-color: white;
					min-height: auto;
					.excerpt {
						p {
							font-size: 12px;
						}
					}
				}
				&.flexBox {
					//			outline: 2px dotted purple;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-direction: row;
					.img {
						min-height: 120px;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						img {}
					}
					&:nth-child(n + 5) {
						//        background-color: burlywood;
						.img {
							//					outline: 2px dotted black;
							min-height: 80px;
							width: 80px;
							img {
								height: 80px;
								width: 80px; //outline: 5px dotted red;
							}
						}
						.texts {
							background-color: white;
							min-height: auto;
							.excerpt {
								p {
									font-size: 12px;
								}
							}
						}
						.tag-id {
							//          background-color: white;
							border-top: 0px;
							div {
								//						outline: 1px solid purple;
								padding: 13px 0 6px 18px;
							}
						}
					}
				}
				.tag-id {
					//          background-color: white;
					border-top: 0px;
					div {
						//						outline: 1px solid purple;
						padding: 13px 0 6px 18px;
					}
				}
			}
		}
	}
	#masReciente {
		#masRecienteList {
			.recienteCard {
				margin-bottom: 30px;
				&:hover {
					box-shadow: @shadow;
				}
				.img {
					.tag-id {
						border-top-width: 0px; //						border-bottom: 2px solid @category-card-img-border;
						p {
							padding: 12px 18px;
						}
					}
				}
				.excerpt {
					background-color: white;
					border-top: 2px solid @category-card-img-border;
					p {
						font-size: 18px;
					}
				}
			}
		}
	}
	#colaboradores {
		padding-bottom: 40px;
		#colabButtonBox {
			padding: 30px 0 15px;
		}
	}
	#instagram {
		.instaTitle {
			font-size: 23px;
			text-align: center;
		}
		#instaLogoMobile {
			//			outline: 2px dotted chocolate;
			padding: 40px 0;
		}
		.boldText {
			padding: 40px 0 15px;
		}
	}
	#instaCaroussel {
		margin-bottom: 35px;
	}
	#socialMedia {
		padding-top: 35px;
	}
	#footerSocial {
		padding: 40px 0 0;
	}
	footer {
		#footerNav {
			padding-top: 30px;
		}
	}
	#sb_instagram {
		.sbi_photo {
			img {
				//				outline: 2px solid purple;
				max-height: 150px;
				max-width: 150px !important;
				margin: 0 auto !important;
			}
		}
	}
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
	body {
		//		background-color: lightseagreen;
	}
	.section {
		margin-bottom: 25px;
	}
	#navBar {
		.navbar-default {
			.navbar-header {
				.navbar-brand {
					outline: 2px dotted white;
					width: 180px;
					padding: 0;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					img {
						align-self: center;
					}
				}
			}
		}
	}
	#colaboradores {
		padding-bottom: 40px;
		#colabButtonBox {
			padding: 30px 0 15px;
		}
	}
	#instaCaroussel {
		margin-bottom: 0;
	}
	#categoryBoxes {
		.categoryCard {
			.img {
				img {}
			}
			.texts {
				.tag-id {
					//        background-color: white;
					div {}
				}
				.excerpt {
					//        background-color: white;
					p {}
				}
			}
			&.flexBox {
				//			outline: 2px dotted purple;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: row;
				.img {
					min-height: 120px;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					img {}
				}
				&:nth-child(n + 5) {
					//        background-color: burlywood;
					.img {
						//					outline: 2px dotted black;
						min-height: 80px;
						width: 80px;
						img {
							height: 80px;
							width: 80px; //outline: 5px dotted red;
						}
					}
					.texts {
						background-color: white;
						min-height: auto;
						.excerpt {
							p {
								font-size: 12px;
							}
						}
					}
					.tag-id {
						//          background-color: white;
						border-top: 0px;
						div {
							//						outline: 1px solid purple;
							padding: 13px 0 6px 18px;
						}
					}
				}
			}
		}
	}
	#masReciente {
		#masRecienteList {
			.recienteCard {
				&:hover {
					box-shadow: @shadow;
				}
				.img {
					.tag-id {
						border-top-width: 0px; //						border-bottom: 2px solid @category-card-img-border;
						p {
							padding: 12px 18px;
						}
					}
				}
				.excerpt {
					border-top: 2px solid @category-card-img-border;
					p {
						font-size: 18px;
					}
				}
			}
		}
	}
	#instagram {
		.instaTitle {
			font-size: 23px;
			text-align: center;
		}
		#instaLogoMobile {
			//			outline: 2px dotted chocolate;
			padding: 40px 0;
		}
		.boldText {
			padding: 40px 0 15px;
		}
	}
	#socialMedia {
		margin-bottom: 35px;
	}
	footer {
		background-color: white;
		#footerLogo {
			padding-bottom: 30px;
		}
		#footerSocial {
			.social-square {
				//				outline: 1px solid blue;
			}
		}
	}
}

.grammySlider {
	padding-bottom: 0!important;
	img {
		//		outline: 1px solid red;
		max-height: 150px;
		max-width: 150px;
		border-radius: 25px;
	}
}

/*banners*/

#banner {
	margin: 0 auto;
	&.b970 {
		width: 970px;
	}
	&.b728 {
		width: 728px;
	}
	&.b350 {
		width: 350px;
	}
	&.b320 {
		width: 320px;
	}
}
