.flexslider {
	margin-bottom: 10px;
	background-color: transparent;
	border: none;
}

.flex-control-nav {
	position: relative;
	bottom: auto;
}

.custom-navigation {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.custom-navigation>* {
	display: table-cell;
}

.custom-navigation>a {
	width: 50px;
}

.custom-navigation .flex-next {
	text-align: right;
}
